# Entorno local
.venv/

# Variables locales
.env

# Metadatos de build
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Datos pesados (no versionar originales)
data/raw/*
data/external/*
!data/raw/.gitkeep
!data/external/.gitkeep

.venv/
.env
*.egg-info/
.ipynb_checkpoints/

# --- proyecto final (extras) ---
.venv/
.env
*.egg-info/
.ipynb_checkpoints/
data/raw/*
data/external/*
!data/raw/.gitkeep
!data/external/.gitkeep
.venv/
.env
*.egg-info/
.ipynb_checkpoints/
data/raw/*
data/external/*
!data/raw/.gitkeep
!data/external/.gitkeep
